body {
    margin: 0;
    padding: 0;
    background: #efefef;
  }
  .sec-title{
    font-size: 56px;
    font-weight: 300;
      letter-spacing: 0px;
      line-height: 1.4;
  }
  div.eventList .eventDate {
    background-color: #ccc;
    text-align: center;
    padding: 10px;
}
div.eventList .eventDate .day {
    display: block;
    font-size: 54px;
    line-height: 21px;
    margin-top: 10px;
    margin-bottom: 15px;
}
div.eventList .eventDate .endday {
    font-size: 20px;
}
div.eventList .eventDate .month {
    display: block;
    font-size: 25px;
    line-height: 25px;
}
div.eventList .eventDate .year {
    font-size: 20px;
}
